:root {
  --st-table-bg: transparent;
  --st-table-text: #333;
  --st-table-border: #ddd;
  --st-table-odd-bg: #fcfcfc;
  --st-table-even-bg: transparent;
  --st-table-header-bg: transparent;
  --st-table-code-bg: #fcfcfc;
  --st-table-code-text: #6c6869;
}

@media (prefers-color-scheme: dark) {
  :root {
    --st-table-bg: transparent;
    --st-table-text: #ddd;
    --st-table-border: #555;
    --st-table-odd-bg: #222;
    --st-table-even-bg: #333;
    --st-table-header-bg: #111;
  }
}

.st-table-container {
  overflow: auto;
}

.st-table {
  background-color: var(--st-table-bg);
  color: var(--st-table-text);
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.st-table thead > tr > th,
.st-table tbody > tr > th,
.st-table tbody > tr > td {
  max-width: 300px;
  overflow: scroll;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid var(--st-table-border);
  padding: 7px 10px;
  white-space: nowrap;
}

.st-table tbody tr:nth-child(odd) {
  background-color: var(--st-table-odd-bg);
}

.st-table tbody tr:nth-child(even) th,
.st-table tbody tr:nth-child(even) td {
  background-color: var(--st-table-even-bg);
}

.st-table thead > tr > th {
  background-color: var(--st-table-header-bg);
}

.st-table code {
  background-color: var(--st-table-code-bg);
  color: var(--st-table-code-text);
  box-shadow: 0 0 0 1px var(--st-table-border);
  border-radius: 2px;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
}

.st-table .st-desc-cell {
  white-space: pre-wrap;
  word-wrap: break-word;
}
