<% if total_pages > 1 %>
  <div class="st-pagination-wrapper">
    <div>
      <small class="st-text-primary">
        <%= displayed_count %> / <%= total_count %>
      </small>
    </div>

    <ul class="st-pagination">
      <% Sidekiq::Tasks::Web::Pagination.new(page, total_pages).links.each do |link| %>
        <%= build_pagination_link(link, base_url) %>
      <% end %>
    </ul>
  </div>
<% end %>
