<% if search.total_pages > 1 %>
  <div class="st-pagination-wrapper">
    <div>
      <small class="st-text-primary">
        <%= search.tasks.size %> / <%= Sidekiq::Tasks.tasks.size %>
      </small>
    </div>

    <ul class="st-pagination">
      <% Sidekiq::Tasks::Web::Pagination.new(search.page, search.total_pages).links.each do |link| %>
        <%= pagination_link(root_path, link, search) %>
      <% end %>
    </ul>
  </div>
<% end %>
